# iForest

In [1]:
import warnings
warnings.filterwarnings('ignore')

## General libraries

In [2]:
import os
import sys

import pandas as pd
import numpy as np

from os.path import join
import json
import datetime
from sklearn.preprocessing import OneHotEncoder

import time

pd.set_option("display.max_columns", None)
pd.options.display.float_format = '{:,.2f}'.format### General libraries

### Load enviroment variables

In [3]:
from dotenv import load_dotenv
load_dotenv('../.env')

code_root = os.environ['CODE_ROOT']
cfg_path = os.environ['CFG_PATH']
data_root = os.environ['DATA_ROOT']

sys.path.insert(0, code_root)

### Specific libraries

In [4]:
from src.load.functions import get_fs_dataset, fs_datasets_hyperparams

from src.auxiliar.execute import LoadProcessData

## General parameters

In [5]:
n_iter_fs = 1
n_iter = 1
contamination_percentage = [1] 
trees = [2, 3, 4]

## Allianz Claims Data

----
**Dataset source**: Private dataset from Allianz Benelux, which contain the claims data from clients during 201801-202312

**Additional sources**:

----

In [6]:
dataset_id = 'allianz'
run_date = '20230917'
clean_input_path = join(data_root, f'inputs/{dataset_id}.parquet')

In [7]:
is_azure = False
conn_id = ''

In [8]:
df_out = LoadProcessData(conn_id=conn_id, run_date=run_date, is_azure=is_azure)
df_out.data.to_parquet(clean_input_path)

Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type int8
Setting new type for column NO_RSK as type Int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type int8
Setting new type for column NO_RSK as type Int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type Int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type Int8
Setting new type for column NO_RSK as type Int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type Int8
Setting new type for column NO_RSK as type Int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type Int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type Int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type Int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type Int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type Int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type Int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type Int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32
Setting new type for column NB_EXPE as type int8
Setting new type for column NB_HIST as type int8
Setting new type for column NB_GAR as type int8
Setting new type for column NO_RSK as type int8
Setting new type for column C_PERS_CLI as type int32

In [9]:
df = get_fs_dataset(dataset_id, data_root)

In [10]:
df

,C_CAU,C_FAM_PROD,D_SURV_SIN,D_DCL,NO_RSK,C_NAT_SIN,C_ET,C_FORM,D_DEB_EFF,D_FIN_EFF,M_TOT_SIN,NB_GAR,RESP_CIE,IND_EXPE,C_APPLN_MALUS,NB_EXPE,NB_HIST,IND_FORC_SIT,D_CL,D_ROUVT,NO_AVT,NO_MAJ,D_OUVT,C_REVIS,CNT_TY_GES,M_RES_MORAT,IND_PMT_DIR,C_ORGN_OUVT,CPOST,weekday_surv_sin,weekday_declaration,d_surv_sin_is_weekend,d_dcl_is_weekend,reporting_delay_in_days,contract_age_in_days,is_closed,is_serious_sinister,has_judiciary_procedure,IND_GRAV,PROC_JUD,C_PERS_CLI,IMM_SOC,NO_CNT,witness_flag
NO_SIN,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
20121062512,00,A01,2012-02-02,2022-03-09,1,M,2,17,2018-04-20,2019-04-01,0.00,1,2,False,0,0,0,True,2022-03-09,NaT,999.00,999.00,2022-03-09,False,P,0.00,N,C,.,3,2,False,False,3688,-2269,True,False,False,NaN,NaN,9552012,1UEX130,010402101036573,False
20141061929,61,A01,2014-11-30,2023-06-30,1,M,0,17,2014-05-25,2015-02-17,500.00,1,2,False,0,0,0,False,NaT,NaT,996.00,998.00,2023-06-30,False,P,0.00,N,C,.,6,4,True,False,3134,189,False,False,False,NaN,NaN,8301860,1BBU843,010602100597137,False
20151060794,00,A01,2015-01-01,2022-02-07,1,M,2,13,2014-12-15,2015-12-14,0.00,0,0,False,0,0,0,False,2022-03-14,NaT,999.00,948.00,2022-02-07,False,P,0.00,N,C,.,3,0,False,False,2594,17,True,False,False,NaN,NaN,9065424,JPK677,010502100871802,False
20151060795,59,A01,2015-10-18,2022-03-30,1,M,2,12,2007-01-01,NaT,0.00,1,4,False,0,0,0,False,2022-03-30,NaT,999.00,999.00,2022-03-30,False,P,0.00,N,C,E,6,2,True,False,2355,3212,True,False,False,NaN,NaN,4431587,F,010102120000007,False
20171061308,71,A08,2017-04-04,2021-11-10,1,M,1,17,2016-10-22,2017-10-21,"9,000.00",1,4,False,0,0,0,False,NaT,NaT,999.00,948.00,2022-01-11,False,P,0.00,N,C,.,1,2,False,False,1681,164,False,False,False,NaN,NaN,9224826,GLBA012,011002100931101,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20231021195,31,A01,2023-08-29,2023-09-15,1,C,1,17,2023-03-07,2023-09-11,710.00,1,5,False,0,0,0,False,NaT,NaT,980.00,548.00,2023-09-15,False,P,0.00,N,C,None,1,4,False,False,17,175,False,False,False,NaN,NaN,732841,1LPE677,010503007144252,False
20231021196,10,A01,2023-09-01,2023-09-13,1,M,1,16,2023-04-15,NaT,0.02,1,2,False,0,1,0,False,NaT,NaT,993.00,949.00,2023-09-15,False,P,0.00,N,C,.,4,2,False,False,12,139,False,False,False,NaN,NaN,9411325,1BGM574,010302100991498,False
20231021197,40,A01,2023-09-10,2023-09-14,1,M,1,11,2023-06-13,NaT,0.02,1,2,False,0,1,0,False,NaT,NaT,999.00,949.00,2023-09-15,False,P,0.00,N,C,8211,6,3,True,False,4,89,False,False,False,NaN,NaN,9928035,2CCF506,010602101117350,False
20231021198,30,A01,2023-09-13,2023-09-14,1,M,1,17,2023-02-13,NaT,0.02,1,2,False,0,1,0,False,NaT,NaT,998.00,849.00,2023-09-15,False,P,0.00,N,C,9990,2,3,False,False,1,212,False,False,False,NaN,NaN,8732415,1CRR398,010202100760251,False
20231021199,50,A01,2023-09-12,2023-09-14,1,M,1,13,2023-07-08,NaT,"1,840.00",1,1,False,0,0,0,False,NaT,NaT,991.00,849.00,2023-09-15,False,P,0.00,N,C,2270,1,3,False,False,2,66,False,False,False,NaN,NaN,9208122,1KUK471,010702100918901,False

In [11]:
feature_columns = [
 'weekday_surv_sin',
 'weekday_declaration',
 'd_surv_sin_is_weekend',
 'd_dcl_is_weekend',
 'reporting_delay_in_days',
 'contract_age_in_days',
 'is_closed',
 'is_serious_sinister',
 'has_judiciary_procedure',
 'witness_flag',
 'C_CAU',
 'C_FAM_PROD',
 'C_NAT_SIN',
 'C_ET',
 'C_FORM',
 'RESP_CIE',
 'C_APPLN_MALUS',
 'CNT_TY_GES',
 'IND_PMT_DIR',
 'C_ORGN_OUVT']

categorical_features = [
    'd_surv_sin_is_weekend', 'd_dcl_is_weekend', 'is_closed', 'is_serious_sinister', 'has_judiciary_procedure',
    'witness_flag', 'C_CAU', 'C_FAM_PROD', 'C_NAT_SIN', 'C_ET', 
    'C_FORM', 'RESP_CIE', 'C_APPLN_MALUS', 'CNT_TY_GES', 'IND_PMT_DIR', 
    'C_ORGN_OUVT']

numerical_features = [
 'weekday_surv_sin',
 'weekday_declaration',
 'reporting_delay_in_days',
 'contract_age_in_days']

In [12]:
# Instantiate the OneHotEncoder
encoder = OneHotEncoder(sparse=True, drop='first', max_categories=8, handle_unknown="ignore")

# Fit and transform the categorical columns
encoded_categories = encoder.fit_transform(df[categorical_features])

# Convert the sparse matrix to a dense DataFrame
encoded_df_dense = pd.DataFrame(encoded_categories.toarray(), columns=encoder.get_feature_names_out(categorical_features), index=df.index)

# Concatenate the encoded DataFrame with the original DataFrame
df_encoded = pd.concat([df[numerical_features], encoded_df_dense], axis=1)

In [13]:
df_encoded.to_parquet(clean_input_path)

In [14]:
df_encoded

,weekday_surv_sin,weekday_declaration,reporting_delay_in_days,contract_age_in_days,d_surv_sin_is_weekend_True,d_dcl_is_weekend_True,is_closed_True,is_serious_sinister_True,has_judiciary_procedure_True,C_CAU_13,C_CAU_31,C_CAU_40,C_CAU_50,C_CAU_68,C_CAU_69,C_CAU_infrequent_sklearn,C_FAM_PROD_A02,C_FAM_PROD_A03,C_FAM_PROD_A04,C_FAM_PROD_A05,C_FAM_PROD_A11,C_FAM_PROD_A15,C_FAM_PROD_infrequent_sklearn,C_NAT_SIN_M,C_ET_1,C_ET_2,C_ET_3,C_FORM_03,C_FORM_11,C_FORM_12,C_FORM_13,C_FORM_16,C_FORM_17,C_FORM_infrequent_sklearn,RESP_CIE_1,RESP_CIE_2,RESP_CIE_3,RESP_CIE_4,RESP_CIE_5,RESP_CIE_9,RESP_CIE_infrequent_sklearn,C_APPLN_MALUS_1,C_APPLN_MALUS_2,C_APPLN_MALUS_3,CNT_TY_GES_P,IND_PMT_DIR_N,IND_PMT_DIR_Y,C_ORGN_OUVT_C
NO_SIN,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
20121062512,3,2,3688,-2269,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,1.00,0.00,1.00
20141061929,6,4,3134,189,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,1.00,0.00,1.00
20151060794,3,0,2594,17,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,1.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,1.00,0.00,1.00
20151060795,6,2,2355,3212,1.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,1.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,1.00,0.00,1.00
20171061308,1,2,1681,164,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,1.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,1.00,0.00,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20231021195,1,4,17,175,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,1.00,1.00,0.00,1.00
20231021196,4,2,12,139,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,1.00,0.00,1.00
20231021197,6,3,4,89,1.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,1.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,1.00,0.00,1.00
20231021198,2,3,1,212,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,1.00,0.00,1.00
20231021199,1,3,2,66,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,1.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,1.00,0.00,1.00